.btn-header{
    border-style: none;
    color: white;
    background-color: inherit;
    margin-left: 15px;
}

.btn{
    color: #fff;
    background-color: hsl(176, 50%, 47%);
    cursor: pointer;
    border-style: none;
}

.btn:hover{
    background-color: hsl(176, 72%, 28%);
}

.btn-card-01{
    font-size: 12px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 30px;
    margin-bottom: 35px;
}

.btn-btn-card-01{
    border-style: none;
    border-radius: 40px;
    font-size: 12px;
    text-align: end;
}

.btn-card-03 {
    font-size: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 30px;
    
}

.btn-close-modal{
    border-style: none;
    background-color: #fff;
    cursor: pointer;
}

