.font-style-01{
    color: hsl(176, 72%, 28%);
    margin-bottom: 25px;
    font-size: 16px;
    
}

.font-style-02{
    color: hsl(176, 50%, 47%);
    margin-bottom: 25px;
    font-size: 16px;
    
}