.font-style-01{
    color: hsl(176, 72%, 28%);
    margin-bottom: 25px;
    font-size: 16px;
    
}

.font-style-02{
    color: hsl(176, 50%, 47%);
    margin-bottom: 25px;
    font-size: 16px;
    
}

.font-left-pledge{
    font-size: 12px;
    color: hsl(176, 50%, 47%);
    padding-top: 5px;
}

.font-style-card-02-03{
    font-size: 20px;
}

.font-marging-botton{
    margin-bottom: 25px;
}

.font-marging-top{
    margin-top: 25px;
}

.font-numbers-card-03{
    font-size: 25px;
    margin-right: 3px;
}

.font-to-mahogany-interative{
    margin-left: 10px;
}

.font-size-16px{
    font-size: 16px;
}

.font-size-18px{
    font-size: 18px;
    font-weight: bold;
    
}
