.card-interative-content{
    background-color: #fff;
    margin-left: 28%;
    margin-right: 28%;
    border-radius: 5px;
    box-shadow: 0.5px 1px 3px 0.25px hsl(175, 25%, 81%);
    margin-bottom: 15px;
    padding-left:2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 15px;
    text-align: center;
}

.content-card-interative-client{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    margin-right: 150px;
}

/* .display-none{
    display: none;
} */